<form class="form-control">
    <br>
    <h1>Edit Article</h1>
    <div>
      <h2>  <label for="title">Employee Name</label></h2>
        <div>
            <input type="text" required [(ngModel)]="article.title" name="title" placeholder="Title">
        </div>
    </div>
    <div>
        <label for="content">Content</label>
        <div>
            <textarea type="text" required cols="80" rows="18" [(ngModel)]="article.content" name="content" placeholder="Content"></textarea>
        </div>
    </div>
    <div>
        <a  role="button" value="Update" (click)="update(article.id)">update</a>
    </div>
    <strong>
{{errorMessage}}
</strong>
</form>