<form class="form-control">
    <br>
    <h1>Edit Article</h1>
<form class="form-inline">
        <div class="form-group">
            <h3><label for="title">Employee Name </label></h3>
            <input type="text" class="form-control" required [(ngModel)]="article.title" name="title" placeholder="Title">
        </div>
    </form>


 <h1><label for="content">Content</label></h1>
   
    <div>
       
        <div>
            <textarea type="text" required cols="80" rows="18" [(ngModel)]="article.content" name="content" placeholder="Content"></textarea>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-success" value="Update" (click)="update(article._id)">update</button>
    </div>
    <strong>
{{errorMessage}}
</strong>
</form>