.form-group{
    align-content: center;
    margin-left: 32%;
    margin-top: 3%;
    padding-top: 5%;
    font-size: 25px;
}
.btn-primary{
    margin-top:21%;
    margin-left:20%;
}
.example-form {
  width: 600px;
  margin-left: 34%;
  margin-top: 10%;
}

.example-full-width {
  width: 100%;
  align-content: center;
}
text{
    font-size: 20px;
}