
b{
  font-size: 35px;
  color:black;
  font-family: bold;
}
h3{
  color: red;
  font-family: sans-serif;
}
.example-container {
  width: 700px;
  margin-top: 3%;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
button-row{
 margin-top: 3%;

}
.col-sm-1{
  margin-top: 3%;
}