<table class="container">
    <h2>Candidate Details</h2>
    <div *ngIf="article && article.creator">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><b>Candidate Name</b></th>
                    <th><b>Comments</b></th>
                    <th><b>Interview By</b></th>
                    <th><b>ThumbUp/Down</b></th>
                    <th><b>Delete</b></th>
                    <th><b>Gender</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{article.title}}</td>
                    <td>{{article.content}}</td>
                    <td> Date : {{article.created}} By {{article.creator.fullName}}</td>
                    <td><i class="fa fa-2x" [class.fa-thumbs-up]="article.toggle" [class.fa-thumbs-down]="!article.toggle"></i></td>
                    <td><button class="fa fa-trash fa-2x" (click)="delete()" aria-hidden="true"></button></td>
                    <td>{{article.selectedOption}}</td>
                </tr>
            </tbody>

        </table>
        <div class="col-sm-4" *ngIf="allowEdit">
            <button class="btn btn-warning" (click)="edit(article._id)">Edit</button>

        </div>
        <div class="col-sm-6">
            <a class="btn btn-danger" (click)="next(article._id)"> Section-2 </a>
            <a class="btn btn-danger " (click)="section(article._id)"> Section-3 </a>

        </div>
        <md-sidenav-container class="example-container">
            <md-sidenav #sidenav class="example-sidenav">
                <ul>
                    <li>
                        <a href="https://www.google.com/">Search Google</a></li>
                    <br>
                    <li> <button type="button">Contact Us</button></li>
                </ul>
            </md-sidenav>

            <div class="example-sidenav-content">
                <button md-button (click)="sidenav.open()">
      Sykes Technology
    </button>
            </div>

        </md-sidenav-container>


        <router-outlet></router-outlet>