<table>


    <div *ngIf="article && article.creator">
        <h1>
           Employee Name: {{article.title}}
        </h1>
         <h3>
            {{article.content}}
        </h3>

        <h2>Posted on {{article.created}} by {{article.creator.fullName}}</h2>
         <div class="col-sm-4" *ngIf="allowEdit">
            <button class="btn btn-warning" [routerLink]="['/articles', article._id, 'edit']">Edit</button>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-info" (click)="delete()">delete</button>
        </div>

      
    </div>
</table>