h2{
    color: red;
    margin-left:10%;
    text-align: center;
}
row{
    margin:15%;
}
a{
    margin-left: 1%;
}
h3{
    margin-left:35%;
    color: red
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h4{
    margin-left:12%;
    color:darkslateblue;
}
p{
    margin-left:10%;
}
b{
    margin-left:5%;
    font-size: 25px;
}
button{
    color: red;
}