    <h2>List of Employee</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Rating</th>
                <th>Human Nature</th>
                <th>Comments</th>
                <th>Thumbup/down</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let article of articles;let i=index">
                <td role=" raised-button" (click)="returnToArticle(article._id)">{{i+1}}.{{article.title}}</td>
                <td>{{article.rating}}</td>
                <td>{{article.value}}</td>
                <td>{{article.content}}</td>
                <td><i  class="fa fa-2x" [class.fa-thumbs-up]="article.toggle" [class.fa-thumbs-down]="!article.toggle"></i></td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="articles && articles.length===0">No articles yet, why don't you <a [routerLink]="['/articles/create']">create one</a>?</div>