<form class="form-container">
    <div class="account col-sm-4">
        <div class="container">

            <div *ngIf="!user">
                <b>Do you have an account ?? <h2>Create One</h2></b>
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                <button type="submit" class="btn btn-primary btn-lg" [routerLink]="['/authentication/signup']">Signup</button>
                <button type="submit" class="btn btn-primary btn-lg" [routerLink]="['/authentication/signin']">Signin</button>
            </div>
        </div>
    </div>
</form>

<form (ngSubmit)="signout()" novalidate>
    <div *ngIf="user">
        <h1>Hello {{user.firstName}}</h1>
        <table class="table">
            <ul>
                <li>
                    <p><a [routerLink]="['/articles']">List Employees</a></p>
                </li>
                <li>
                    <p><a [routerLink]="['/articles/create']">Interview</a></p>
                </li>

            </ul><br>
            
            <button type="submit" class="btn-primary btn-lg">Signout</button>
        </table>


        
    </div>
</form>

<router-outlet></router-outlet>