
items{
    font-size:20px;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

p{
    font-size: 24px;
    font-style: normal;
}
.row{
    background-color:white;
    margin: 20%;
}
h2{
    color:black;
    font-family: bold;
    font-synthesis: style;
}
md-card{
    margin-top: 15%;
    /*margin: 60px;*/
    margin-left:35%
    }
   
.fa{
    margin-left: 5%;
}
