container{
    text-align: center;
    background-color: lightseagreen;
    
}
h2{
    color:blue;
    background-color: white;
    align-content: center;
}
h1{
    color:blue;
    text-align: center;
    margin-left: 0%;
}
row{
    margin-left: 10%;
    
    
}