toolbar{
    height: 25px;
}
.example-icon {
  padding: 0 5px;
}

.example-spacer {
  flex: 1 1 auto;
  padding-block-start:initial ;
}
a{
    color: white;
}
.nav-link{
    color: white;
    margin-bottom: 0px;
}
.mat-toolbar.mat-primary {
    height: 20px;
}
